<VirtualHost *:80>
        ServerAdmin info@bluescreen.se
        DocumentRoot /var/www/{{ SITENAME }}
        ServerName {{ SITENAME }}
        LogLevel info ssl:warn

        ErrorLog ${APACHE_LOG_DIR}/{{ SITENAME }}.error.log
        CustomLog ${APACHE_LOG_DIR}/{{ SITENAME }}.access.log combined

</VirtualHost>